{% extends "drivers/base.html" %}

{% load static %}
{% load thumbnail %}

{% block content %}
    <link rel="stylesheet" href="{% static 'CSS/drivers/available_cars.css' %}">

    <div style="text-align: center; margin-top: 10px;">Количество доступных машин: {{ available_cars_count }}</div>

    <div class="cars">
        {% for car in available_cars %}
            <div class="car">
                <h3>{{ car.brand }} {{ car.model }}</h3>

                {% if car.image %}
                    {% thumbnail car.image 'x100' as img %}
                        <img src="{{ img.url }}">
                    {% endthumbnail %}
                {% else %}
                    <img src="{% static 'Images/no_image.jpg' %}" height="100px">
                {% endif %}

                <p>Цвет: {{ car.color }}</p>
                <p>Мощность: {{ car.power }}</p>
                <p>Год: {{ car.year }}</p>
                <p>Категория: {{ car.category }}</p>
                
                <p><a href="{% url 'drivers:confirm_car_choice' pk=car.id %}">Выбрать</a></p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}